@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Lista Uzytkowników";
}

<div class="
flex justify-between items-center
">
    <h1 class="text-4xl mb-5">Lista uzytkowników</h1>

</div>
<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Imię i nazwisko</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nazwa uzytkownika</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Email</th>

        </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        @foreach (var item in Model)
        {
            <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                    <div class="text-sm">
                        <div class="font-medium text-gray-700"> @Html.DisplayFor(modelItem => item.FullName)</div>
                        <div class="text-gray-400">Uzytkownik</div>
                    </div>
                </th>
                <th class="px-6 py-4"> @Html.DisplayFor(modelItem => item.UserName)</th>
                <th class="px-6 py-4"> @Html.DisplayFor(modelItem => item.Email)</th>
            </tr>
        }
        </tbody>
    </table>
</div>