@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<div class="flex space-x-3 items-center px-3">

@if (!User.Identity.IsAuthenticated)
{
    <a asp-action="Login" asp-controller="Account" class="relative z-10 flex items-center p-2 text-sm  border border-transparent rounded-md focus:border-blue-500  focus:ring-opacity-40  focus:ring-blue-400 focus:ring text-white bg-gray-800 focus:outline-none">
        Zaloguj się
    </a>
    <a asp-action="Register" asp-controller="Account" class="relative z-10 flex items-center p-2 text-sm  border border-transparent rounded-md focus:border-blue-500  focus:ring-opacity-40  focus:ring-blue-400 focus:ring text-white bg-gray-800 focus:outline-none">
        Zarejestruj się
    </a>
} else { 
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Users" asp-controller="Account" class="relative z-10 flex items-center p-2 text-sm  border border-transparent rounded-md focus:border-blue-500  focus:ring-opacity-40  focus:ring-blue-400 focus:ring text-white bg-gray-800 focus:outline-none">
            Użytkownicy
        </a>
    }
    <form asp-action="Logout" asp-controller="Account">
             <button type="submit" class="relative z-10 flex items-center p-2 text-sm  border border-transparent rounded-md focus:border-blue-500  focus:ring-opacity-40  focus:ring-blue-400 focus:ring text-white bg-gray-800 focus:outline-none">
                 Wyloguj się
             </button>
         </form>
    <div class="flex-none flex justify-center">
        <div class="w-8 h-8 flex ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShta_GXR2xdnsxSzj_GTcJHcNykjVKrCBrZ9qouUl0usuJWG2Rpr_PbTDu3sA9auNUH64&usqp=CAU" alt="profile" class="shadow rounded-full object-cover"/>
        </div>
    </div>

    <div class="hidden md:block text-sm md:text-md text-black text-white">@UserManager.GetUserName(User)</div>}

</div>
